h1 {
    text-align: center;
}

.main{
    text-align: center;

}

.row{
    text-align: center; 
    margin-top:40px;
    margin-bottom:60px 
  }


  .mb-3 {
    width: 500px;
    text-align: left;
    padding-left: 100px;
    padding-right: 100px;
  }

  .centered {
    margin: 0 auto;
  }

  .background_color {
    background-color: rgb(255,255,255);
  }
  
  .button {
    display: block;
    margin: 0 auto;
    padding: 1.1em .75em;

  }

.flex{
  display: flex;
  justify-content: center;
}

.mb-3 {
  width: 500px;
  text-align: left;
  padding-left: 100px;
  padding-right: 100px;
}


.right {
  margin-right: 0 auto;
}


.background_color {
  background-color: rgb(255,255,255);
}

.button {
  display: block;
  margin: 0 auto;
  

}

.img {
display: block;
max-width:2300px;
max-height:950px;
width: auto;
height:auto;
margin:0 auto;
}

.flex{
display: flex;
justify-content: center;
}

.navbar {
  background-color: rgb(32, 100, 237);
  font-size: 1em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  text-align: center;
  padding: 8px 10px 8px 10px;
}

.navbar a {
  text-decoration: none;
  color: inherit;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-brand {
  font-size: 1.2em;
  font-weight: 600;
}

.navbar-item {
  font-variant: small-caps;
  font-size:1.1em;
  margin-left: 0px;
  padding-right: 30px;

}

.body-content {
  padding: 5px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-left:20px;
}

.warning {
    color: rgb(32, 100, 237);
    padding-left: 100px
}

.file-name {
  margin-left: 20px;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}