<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <div class="main">
      <br><br>
      <h1> Receipt OCR </h1>
      <p> Tesseract OCR + Preprocessing </p>
    </div>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename='style.css')}}>
    <!--pure css-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
      integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls"
      crossorigin="anonymous"
    />
    <!--bootstrap-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <link
      rel="fav icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <!-- FirebaseUI stylesheet -->
    <script src="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.css" 
    />
    <!-- Add the DataTables CSS CDN link -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">

  </head>

  <body>
    <div class="navbar">
      <a href="{{ url_for('upload_receipt') }}" class="flex centered" style="font-size: 1.2em; font-weight: 600;">Upload Receipt</a>
    </div>
    

    <div class="body-content">
      {% block content %} {% endblock %}
    </div>
    
    <div class="flex">
      <footer id="footer">
        <p>&copy; Jaelin Lee 2023</p>
      </footer>
    </div>
  </body>

  <style>
    .custom-restricted-width {
        /* To limit the menu width to the content of the menu: */
        display: inline-block;
        /* Or set the width explicitly: */
        /* width: 10em; */
    }
</style>
</html>



